@tailwind base;
@tailwind components;
@tailwind utilities;


/* Flip Card */
.flip-card {
  perspective: 1000px;
  /* margin: auto; */
}

.flip-card-inner {
  position: relative;
  width: 180px;
  height: 180px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 180px;
  height: 180px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.flip-card-front {
  z-index: 2;
  color: white;
}

.flip-card-back {
  /* background-color: #f0f0f0; */
  transform: rotateY(180deg);
  z-index: 1;
  color: black;
}

/* Hot Exams */